<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Detail</title>
    <link rel="stylesheet" href="./detail.css">
</head>

<body>
    <div class="detail_container">
        <div class="books_detail">
            <h3>Замок из стекла</h3>
            <p>Что скрывает прошлое</p>
            <p>Джаннет Уоллс - молодая, красивая и очень успешная писательница, романы которой удостаиваются престижных
                наград и экранизируются Голливудом. Но, как и у любого интересного писателя, у Джаннет есть свое
                прошлое...</p>
            <p>310 сомов</p>
            <p>Современная зарубежная литература</p>
            <p>Джаннет Уоллс</p>
            <p>2014</p>
        </div>

        <div class="books_detail">
            <h3>Замок из стекла</h3>
            <p>Что скрывает прошлое</p>
            <p>Джаннет Уоллс - молодая, красивая и очень успешная писательница, романы которой удостаиваются престижных
                наград и экранизируются Голливудом. Но, как и у любого интересного писателя, у Джаннет есть свое
                прошлое...</p>
            <p>310 сомов</p>
            <p>Современная зарубежная литература</p>
            <p>Джаннет Уоллс</p>
            <p>2014</p>
        </div>
    </div>
</body>

</html>