{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookStore</title>    
    <!--<link rel="stylesheet" href="./styles/index.css" />-->
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
</head>
<body>
    <section>
        <div class="create_container">
                <input class="create_input" type="text" placeholder="Заголовок" name="books_title" />
                <input class="create_input" type="text" placeholder="Подзаголовок" name="books_subtitle" />
                <input class="create_input" type="text" placeholder="Описание" name="books_description" />
                <input class="create_input" type="text" placeholder="Цена" name="books_price" />
                <input class="create_input" type="text" placeholder="Жанр" name="books_genre" />
                <input class="create_input" type="text" placeholder="Автор" name="books_author" />
                <input class="create_input" type="text" placeholder="Год выпуска" name="books_year" />
                <button class="create_button">Добавить</button>
        </div>
        <div class="book_container">
            {% for books in books_list %}
            <div class="book_item">
                <div class="book_item_header">
                    <h3>{{ books.title }}</h3>
                    <p>{{ books.subtitle }}</p>
                    <p>{{ books.description }}</p>
                    <p>{{ books.price }}</p>
                    <p>{{ books.genre }}</p>
                    <p>{{ books.author }}</p>
                    <p>{{ books.year }}</p>
                </div>

                <div class="book_item_footer">
                    <p>{{ books.date }}</p>
                    <div class="action_buttons">
                        <img src="{% static './icons/unmarked.png' %}" />
                        <img src="{% static './icons/deleted.png' %}" />
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>