<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookStore</title>    
    <link rel="stylesheet" href="./styles/index.css" />
</head>
<body>
    <section>
        <div class="create_container">
                <input class="create_input" type="text" placeholder="Заголовок" name="books_title" />
                <input class="create_input" type="text" placeholder="Подзаголовок" name="books_subtitle" />
                <input class="create_input" type="text" placeholder="Описание" name="books_description" />
                <input class="create_input" type="text" placeholder="Цена" name="books_price" />
                <input class="create_input" type="text" placeholder="Жанр" name="books_genre" />
                <input class="create_input" type="text" placeholder="Автор" name="books_author" />
                <input class="create_input" type="text" placeholder="Год выпуска" name="books_year" />
                <button class="create_button">Добавить</button>
        </div>
        <div class="book_container">
            <div class="book_item">
                <div class="book_item_header">
                    <h3>Замок из стекла</h3>
                    <p>Что скрывает прошлое</p>
                    <p>Джаннет Уоллс - молодая, красивая и очень успешная писательница, романы которой удостаиваются престижных наград и экранизируются Голливудом. Но, как и у любого интересного писателя, у Джаннет есть свое прошлое...</p>
                    <p>310 сомов</p>
                    <p>Современная зарубежная литература</p>
                    <p>Джаннет Уоллс</p>
                    <p>2014</p>
                </div>

                <div class="book_item_footer">
                    <p>20.01.2021 <span>18:39</span></p>
                    <div class="action_buttons">
                        <img src="./icons/unmarked.png" />
                        <img src="./icons/deleted.png" />
                    </div>
                </div>
            </div>

            <div class="book_item marked">
                <div class="book_item_header">
                    <h3>Замок из стекла</h3>
                    <p>Что скрывает прошлое</p>
                    <p>Джаннет Уоллс - молодая, красивая и очень успешная писательница, романы которой удостаиваются престижных наград и экранизируются Голливудом. Но, как и у любого интересного писателя, у Джаннет есть свое прошлое...</p>
                    <p>310 сомов</p>
                    <p>Современная зарубежная литература</p>
                    <p>Джаннет Уоллс</p>
                    <p>2014</p>
                </div>

                <div class="book_item_footer">
                    <p>20.01.2021 <span>18:39</span></p>
                    <div class="action_buttons">
                        <img src="./icons/marked.png" />
                        <img src="./icons/deleted.png" />
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
</html>