{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Detail</title>
    <!--<link rel="stylesheet" href="./styles/detail.css">-->
    <link rel="stylesheet" href="{% static 'styles/detail.css' %}" />
</head>

<body>
    <div class="detail_container">       
        <div class="books_detail">
            <h3>{{ books.title }}</h3>
            <p>{{ books.subtitle }}</p>
            <p>{{ books.description }}</p>
            <p>{{ books.price }}</p>
            <p>{{ books.genre }}</p>
            <p>{{ books.author }}</p>
            <p>{{ books.year }}</p>
        </div>       
    </div>
</body>

</html>