{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>    
    <!--<link rel="stylesheet" href="./styles/index.css" />-->
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
</head>
<body>
    <section>
        <div class="create_container">
            <form action="{% url 'add-books' %}" method="POST">
                {% csrf_token %}
                <input class="create_input" type="text" placeholder="Заголовок" name="books_title" />
                <input class="create_input" type="text" placeholder="Подзаголовок" name="books_subtitle" />
                <input class="create_input" type="text" placeholder="Описание" name="books_description" />
                <input class="create_input" type="text" placeholder="Цена" name="books_price" />
                <input class="create_input" type="text" placeholder="Жанр" name="books_genre" />
                <input class="create_input" type="text" placeholder="Автор" name="books_author" />
                <input class="create_input" type="text" placeholder="Год выпуска" name="books_year" />
                <button class="create_button">Добавить</button>
            </form>
        </div>
        <div class="books_container">
            {% for books in books_list %}
            <div class="books_item
                {% if books.is_favorites %}
                    marked
                {% endif %}
            ">
                <div class="books_item_header">
                    <h3>{{ books.title }}</h3>
                    <p>{{ books.subtitle }}</p>
                    <p>{{ books.description }}</p>
                    <p>{{ books.price }}</p>
                    <p>{{ books.genre }}</p>
                    <p>{{ books.author }}</p>
                    <p>{{ books.year }}</p>
                </div>

                <div class="books_item_footer">
                    <p>{{ books.date }}</p>
                    <div class="action_buttons">
                        {% if books.is_favorites %}
                            <a href="{% url 'mark' books.id %}"><img src="{% static './icons/marked.png' %}" /></a>
                        {% else %}
                            <a href="{% url 'mark' books.id %}"><img src="{% static './icons/unmarked.png' %}" /></a>
                        {% endif %}
                        
                            <a href="{% url 'delete' books.id %}"><img src="{% static './icons/deleted.png' %}" /></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>